<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700200099137-n58cjnrj83iulljr922ujffkdrhad4nn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700200099137-n58cjnrj83iulljr922ujffkdrhad4nn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>700200099137-62u554jakscarptb2r1lbl5bc0a00trq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDG6NXevZXD9d5czvc3nLPyyL4NuYFevUc</string>
	<key>GCM_SENDER_ID</key>
	<string>700200099137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yipli.playfit</string>
	<key>PROJECT_ID</key>
	<string>yipli-project</string>
	<key>STORAGE_BUCKET</key>
	<string>yipli-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700200099137:ios:1234cfa44970b1736455c0</string>
	<key>DATABASE_URL</key>
	<string>https://yipli-project.firebaseio.com</string>
</dict>
</plist>